image: php:8.0-cli-alpine

before_script:
    - apk add openssh-client

stages:
    - test
    - deploy
    - build

test:
    tags:
        - calcurates
    stage: test
    script:
        - echo "No tests"

deploy_staging:
    tags:
        - calcurates
    stage: deploy
    script:
        - echo "Deploy to staging server"
        - echo "$SSH_PRIVATE_KEY" > ./id_rsa
        - chmod 600 ./id_rsa
        - ssh -o StrictHostKeyChecking=no -p"$SSH_PORT" -i ./id_rsa "$SSH_USER"@"$SSH_STAGING_HOST" "$SSH_DEPLOY_SCRIPT"
    only:
        - dev

build:
    tags:
        - calcurates
    stage: build
    script:
        - echo "Build"
        - apk add unzip
        - curl -L -o /composer.phar https://github.com/composer/composer/releases/download/2.1.14/composer.phar && chmod 755 /composer.phar
        - php /composer.phar install --no-interaction --prefer-dist --no-progress --ansi --no-dev --optimize-autoloader
        - mkdir calcurates-for-woocommerce
        - mv assets includes src lib calcurates-for-woocommerce/
        - mv composer.json index.php readme.txt uninstall.php wc-calcurates.php calcurates-for-woocommerce/
    artifacts:
        paths:
            - calcurates-for-woocommerce
    only:
        - master
