# Blacklist files/folders in same directory as the .gitignore file
/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log


# Whitelist some files
!.gitignore
!.gitattributes
!.editorconfig

!.gitlab-ci.yml

!readme.txt
!README.md
!.env.example

!docker-compose.yml

!index.php
!uninstall.php
!wc-calcurates.php
!src
!assets
!includes

!composer.json
!composer.lock

!.php-cs-fixer.dist.php
!phpstan.neon.dist
!swagger.yaml

!.docker/mysql/Dockerfile
!.docker/mysql/server.cnf
!.docker/mysql/data/.gitkeep
!.docker/nginx/default.conf
!.docker/nginx/Dockerfile
!.docker/php/Dockerfile
!.docker/php/php.ini
!.docker/php/entrypoint.sh
