# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!.env.example
!commitizen.js
!commitlint.js
!docker-compose.yml
!package.json
!.editorconfig
!index.php
!uninstall.php
!composer.json
!lib
!RESTAPI

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Whitelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!wc-calcurates.php
!.docker/
.docker/*
!.docker/nginx/
!.docker/php-fpm/
