version: "3.8"

volumes:
  app_code:
    name: "wc_calcurates_volume"

services:
  php:
    container_name: woocommerce-php
    build:
      context: .docker/php
      dockerfile: Dockerfile
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - NGINX_PORT=${NGINX_PORT}
    depends_on:
      - mysql
    volumes:
      - app_code:/var/www/wordpress
      - ./.docker/php/php.ini:/usr/local/etc/php/php.ini
      - ./assets:/var/www/wordpress/wp-content/plugins/wc-calcurates/assets
      - ./includes:/var/www/wordpress/wp-content/plugins/wc-calcurates/includes
      - ./lib:/var/www/wordpress/wp-content/plugins/wc-calcurates/lib
      - ./src:/var/www/wordpress/wp-content/plugins/wc-calcurates/src
      - ./.editconfig:/var/www/wordpress/wp-content/plugins/wc-calcurates/.editconfig
      - ./.env.example:/var/www/wordpress/wp-content/plugins/wc-calcurates/.env.example
      - ./.gitattributes:/var/www/wordpress/wp-content/plugins/wc-calcurates/.gitattributes
      - ./.gitignore:/var/www/wordpress/wp-content/plugins/wc-calcurates/.gitignore
      - ./.gitlab-ci.yml:/var/www/wordpress/wp-content/plugins/wc-calcurates/.gitlab-ci.yml
      - ./.php-cs-fixer.dist.php:/var/www/wordpress/wp-content/plugins/wc-calcurates/.php-cs-fixer.dist.php
      - ./composer.json:/var/www/wordpress/wp-content/plugins/wc-calcurates/composer.json
      - ./composer.lock:/var/www/wordpress/wp-content/plugins/wc-calcurates/composer.lock
      - ./docker-compose.yml:/var/www/wordpress/wp-content/plugins/wc-calcurates/docker-compose.yml
      - ./index.php:/var/www/wordpress/wp-content/plugins/wc-calcurates/index.php
      - ./phpstan.neon.dist:/var/www/wordpress/wp-content/plugins/wc-calcurates/phpstan.neon.dist
      - ./README.md:/var/www/wordpress/wp-content/plugins/wc-calcurates/README.md
      - ./readme.txt:/var/www/wordpress/wp-content/plugins/wc-calcurates/readme.txt
      - ./swagger.yaml:/var/www/wordpress/wp-content/plugins/wc-calcurates/swagger.yaml
      - ./uninstall.php:/var/www/wordpress/wp-content/plugins/wc-calcurates/uninstall.php
      - ./wc-calcurates.php:/var/www/wordpress/wp-content/plugins/wc-calcurates/wc-calcurates.php
    expose:
      - "9011" # xdebug

  mysql:
    container_name: woocommerce-mysql
    build:
      context: .docker/mysql
      dockerfile: Dockerfile
    command: [--default-authentication-plugin=mysql_native_password, --innodb-use-native-aio=0, --skip-mysqlx]
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./.docker/mysql/data:/var/lib/mysql
      - ./.docker/mysql/server.cnf:/etc/mysql/conf.d/server.cnf
    ports:
      - ${MYSQL_PORT}:3306
    security_opt:
      - seccomp:unconfined

  nginx:
    container_name: woocommerce-nginx
    build:
      context: .docker/nginx
      dockerfile: Dockerfile
    volumes:
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - app_code:/var/www/wordpress
      - ./assets:/var/www/wordpress/wp-content/plugins/wc-calcurates/assets
    depends_on:
      - php
    ports:
      - ${NGINX_PORT}:80
