.calcurates-checkout__shipping-rate-description{
    margin-bottom: 10px;
}
.calcurates-checkout__shipping-rate-message{
   font-size: 13px;
}
.calcurates-checkout__shipping-rate-dates{
   font-size: 13px;
}