.calcurates-checkout__shipping-rate-text_has-error {
    color: brown;
    background-color: #efcfcf;
}

.calcurates-checkout__shipping-rate-image {
    max-height: 2em;
    margin-right: 10px;
}

.calcurates-checkout__shipping-rate-dates {
    margin-top: 3px;
    font-size: 0.80em;
    text-indent: 0px;
}

.calcurates-checkout__shipping-rate-message {
    margin-top: 3px;
    font-size: 0.80em;
    text-indent: 0px;
}

.calcurates-checkout__shipping-rate-date-select-label, .calcurates-checkout__shipping-rate-time-select-label {
    display: block;
    text-align: left;
}

.calcurates-checkout__shipping-rate-date-select, .calcurates-checkout__shipping-rate-time-select {
    line-height: 1.5;
    cursor: pointer;
    font-size: 1em;
    margin-top: 4px;
    width: 100%;
}

.woocommerce-js ul#shipping_method li input.calcurates-checkout__shipping-rate-date-select {
    margin-left: 0;
    margin-right: 0;
}

.cart_totals .calcurates-checkout__shipping-rate-dates {
    display: none;
}